<br>
{{#if this.logged}}
  <div class="ui right action left icon input" style="margin-left: 40vw; margin-top: 12vh;width: 20%">
         <i class="search icon"></i>
        <input type="text" id="departure" placeholder="Search for a departure" style="width: 10%;">
        {{!-- <input type="date"> --}}
    </div>
 {{/if}}    
<div class="card-box">
    {{#each this}}
    <div data-aos="zoom-in" class="property-card">
        <div id="bouttonSee" class="property-image">
            <img id="imageSee" class="size-image" class="image" src="{{this.image}}"  alt="" srcset="">
            <div class="property-image-title">
                <form action="/book/{{this._id}}" method="post">
                    <button class="ui primary button" name="book">See this flight</button>
                </form>
            </div>
        </div>
        <div id="textSee" class="property-description">
            <h5>Destination: {{this.Destination}}</h5>
            <p>Departure: {{this.Departure}}</p>
            <p>Price : {{this.Price}}€</p>
            <p>Available Seats : {{this.availableSeats}}</p>
        </div>
    </div>
    {{/each}}
</div>