<H1>Welcome on board!</H1>
<div>
    <h5>Destination: {{user.Destination}}</h5>
    <p>Description: {{user.Description}}</p>
    <p>Departure: {{user.Departure}}</p>
    <p>Price : {{user.Price}}€</p>
    <p>Available Seats : {{user.availableSeats}}</p>
</div>

{{#if user.availableSeats}}
<form action="" method="post"></form>
<button name="book">Book this flight</button>
</form>
{{else}} <p>No more seat abailable!</p>

{{/if}}