<section id="travel" class="ui middle aligned center aligned grid fields">
    <form action="/travel/edit/{{travel.id}}" method="post">
        <div class="ui form">
            <div class="fields">
                <div class="six wide field">
                    <label for="departure">departure</label>
                    <input name="Departure" type="text" placeholder="airfield" value="{{travel.Departure}}">
                </div>
                <div class="six wide field">
                    <label>destination</label>
                    <input name="Destination" type="text" placeholder="airfield" value="{{travel.Destination}}">
                </div>
                <div class="four wide field">
                    <label>time of departure</label>
                    <input name="departureTime" type="datetime-local" placeholder="" value="{{travel.departureTime}}">
                </div>
                <div class="four wide field">
                    <label>time of arrival</label>
                    <input name="arrivalTime" type="datetime-local" placeholder="" value="{{travel.arrivalTime}}">
                </div>
            </div>

            <div class="fields">
                <div class="seven wide field">
                    <label for="aircaft">aircaft</label>
                    <select class="ui dropdown" name="Aircraft">
                        <option value="{{travel.Aircraft}}">{{travel.Aircraft}}</option>
                        <option value="C172">C172</option>
                        <option value="C182">C182</option>
                        <option value="DR400">DR400</option>
                    </select>

                </div>
                <div class="two wide field">
                    <label for="immatriculation">immatriculation</label>
                    <input name="immatriculation" type="text" placeholder="F-XXXX" value="{{travel.immatriculation}}">
                </div>
                <div class="seven wide field">
                    <label for="image">Image</label>
                    <input id="image" name="image" type="file" value="{{travel.image}}">
                </div>

            </div>
            <div class="fields">
                <div class="six wide field">
                    <label for="numberOfSeats">number fo seats</label>
                    <input name="numberOfSeats" type="number" placeholder="" value="{{travel.numberOfSeats}}">
                </div>
                <div class="six wide field">
                    <label for="availableSeats">available seats</label>
                    <input name="availableSeats" type="number" placeholder="" value="{{travel.availableSeats}}">
                </div>
                <div class="four wide field">
                    <label for="Price">Price</label>
                    <input name="Price" type="number" placeholder="€" value="{{travel.Price}}">
                </div>
            </div>
            <div class="field">
                <div class="sixteen wide field"></div>
                <label>Description</label>
                <textarea name="Description" >{{travel.Description}}</textarea>
            </div>
        </div>

        <div class="column">
            <div class="ui icon header">
                <i class="plane icon"></i>
            </div>
            <div>
                <button class="ui primary button"> Edit</button>
            </div>
        </div>
    </form>
</section>