<section style="margin-top: 8vh;">
<form class="ui form" method="post" action="/profilpilotEdit/{{pilot._id}}" >
    <h4 class="ui dividing header">Pilote Information</h4>
    <div class="field">
        <label>Name</label>
        <div class="two fields">
            <div class="field">
                <input type="text" name="name" placeholder="First Name" value="{{pilot.name}}">
            </div>
            <div class="field">
                <input type="text" name="lastname" placeholder="Last Name" value="{{pilot.lastname}}">
            </div>
        </div>
    </div>
    <div class="field">
        <label>Address</label>
        <div class="fields">
            <div class="eight wide field">
                <input type="text" name="address" placeholder="Adress"
                    value="{{pilot.address}}">
            </div>
            <div class="four wide field">
                <input type="text" name="city" placeholder="City" value="{{pilot.city}}">
            </div>
            <div class="four wide field">
                <input type="text" name="zipCode" placeholder="ZipCode" value="{{pilot.zipCode}}">
            </div>
        </div>
    </div>
    <h4 class="ui dividing header">Pilote Details</h4>
    <div class="field">
        <label>License</label>

        <div class="fields">
            <div class="eight wide field">
                <input type="text" name="licenceId" placeholder="FJ42PD1337" value="{{pilot.licenceId}}">
            </div>
            <div class="four wide field">
                <input type="text" name="licenceType" placeholder="Licence type ..."
                    value="{{pilot.licenceType}}">
            </div>
            <div class="four wide field">
                <input type="text" name="deliveryCountry" placeholder="France"
                    value="{{pilot.deliveryCountry}}">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="">Issue Date</label>
                <input type="date" name="issueDate" placeholder="" value="{{formatsimpleDate pilot.issueDate}}">
            </div>
            <div class="field">
                <label for="">Expiry Date</label>
                <input type="date" name="expiryDate" placeholder="" value="{{formatsimpleDate pilot.expiryDate}}">
            </div>
        </div>

        <h4 class="ui dividing header">Other information </h4>
        <div class="fields">
            <div class="five wide field">
                <input type="text" name="ratingPilote" placeholder="ratingPilote"
                    value="{{pilot.ratingPilote}}">
            </div>
            <div class="five wide field">
                <input type="text" name="medicale" placeholder="medicale ..." value="{{pilot.medicale}}">
            </div>
            <div class="five wide field">
                <input type="text" name="flc055" placeholder="flc055" value="{{pilot.flc055}}">
            </div>
        </div>

       
    </div>
     <button class="ui button active">Edit info</button>
</form>
</section>