<div id="mainDiv">
    <h1>Welcome back {{user.name}}</h1>
    <img src="{{user.image}}" alt="img-user">
    <div id="profileId">
        <p>{{user.name}}</p>
        <p>{{user.lastname}}</p>
        <p>{{user.email}}</p>
        <button id="profileIdButton">Edit your profil!</button>
    </div>
</div>