<section style="margin-top: 8vh;">
    <div class="ui placeholder segment">
        <div class="ui two column very relaxed stackable grid">
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <label>Username: </label>
                        <div class="ui left icon input">
                            {{!-- <i class="user icon"></i> --}}
                            {{pilot.name}}
                        </div>
                    </div>
                    <div class="field">
                        <label>Lastname: </label>
                        <div class="ui left icon input">
                            {{pilot.lastname}}
                        </div>
                    </div>
                    <div class="field">
                        <label>Email: </label>
                        <div class="ui left icon input">
                            {{pilot.email}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle aligned column">
                <form action="/profilpilotEdit/{{pilot._id}}" method="get">
                    <button class="ui primary button">Edit your profil!</button>
                </form>
            </div>
        </div>
        <div class="ui vertical divider">
        </div>
    </div>

    <div class="" style="margin-top: 8vh;">
        <h3 class="manage-products-title">Manage your Filght</h3>
        <table class="ui celled table">
            <thead>
                <tr class="table-row">
                    <th class="table-head">Departure</th>
                    <th class="table-head">Destination</th>
                    <th class="table-head">Departure Time</th>
                    <th class="table-head">Arrival Time</th>
                    <th class="table-head">Aircraft</th>
                    <th class="table-head">Edit</th>
                    <th class="table-head">Delete</th>
                </tr>
            </thead>

            <tbody>

                {{#each travel}}
                <tr>
                    <td>
                        {{this.Departure}}
                    </td>
                    <td>
                        {{this.Destination}}
                    </td>
                    <td>
                        {{formatDate this.departureTime}}
                    </td>
                    <td>
                        {{formatDate this.arrivalTime}}
                    </td>
                    <td>
                        {{this.Aircraft}}
                    </td>
                    <td class="selectable">
                        <a href="/travel/edit/{{this.id}}">Edit</a>
                    </td>
                    <td class"selectable">
                        <a href="/travel/delete/{{this.id}}">Delete</a>
                    </td>
                </tr>
                </tr>
                {{/each}}
                {{#unless travel}}
                <tr>
                    {{!-- <td colspan="8" class="selectable">sorry no flight yet</td> --}}
                    <td colspan="8" class="selectable">sorry no flight yet</td>
                </tr>
                {{/unless}}
            </tbody>
            <tfoot class="full-width">
                <tr>
                    <th colspan="8">
                        <div class="ui right floated small primary labeled icon ">
                            <i class="plane icon"></i> Add flight
                        </div>
                        <div class="ui small button">
                            <form action="/travel/add" method="get">
                                <button class="ui small primary button">Create</button>
                            </form>
                        </div>

                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="ui divider"></div>

    <div class="" style="margin-top: 8vh;">
        <h3 class="manage-products-title">Your Archieved Filght</h3>
        <table class="ui celled table">
            <thead>
                <tr class="table-row">
                    <th class="table-head">Departure</th>
                    <th class="table-head">Destination</th>
                    <th class="table-head">Departure Time</th>
                    <th class="table-head">Arrival Time</th>
                    <th class="table-head">Aircraft</th>
                    <th class="table-head">Duration(minute)</th>
                </tr>
            </thead>

            <tbody>

                {{#each travelOld}}
                <tr>
                    <td>
                        {{this.Departure}}
                    </td>
                    <td>
                        {{this.Destination}}
                    </td>
                    <td>
                        {{formatDate this.departureTime}}
                    </td>
                    <td>
                        {{formatDate this.arrivalTime}}
                    </td>
                    <td>
                        {{this.Aircraft}}
                    </td>
                    <td>
                    {{CalcDuration  this.departureTime this.arrivalTime}}
                    </td>
                </tr>
                </tr>
                {{/each}}
                {{#unless travelOld}}
                <tr>
                    {{!-- <td colspan="8" class="selectable">sorry no flight yet</td> --}}
                    <td colspan="8" class="selectable">Sorry no flight yet</td>
                </tr>
                {{/unless}}
            </tbody>
        </table>
    </div>



</section>