
<div id="main-div-signin-user">
    <section id="section-signin-user">

        <h1 class="ui middle aligned center aligned grid">Welcome dear pilot!</h1>
        <p class="ui middle aligned center aligned grid">Enjoy yourself and be comfortable before your next fly!</p>
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui blue image header">
                    <div class="content">
                        Register your account
                    </div>
                </h2>
                {{#if msg}}
                <p class="message {{msg.status}}">{{msg.text}}</p>
                {{/if}}
                <form method="post" action="/signup/pilot" class="ui large form">
                    <div class="ui stacked segment">
                        <div class="field">Name
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <label for="name"></label>
                                <input id="name" type="text" name="name" placeholder="gilbert">
                            </div>
                        </div>
                        <div class="field">LastName
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <label for="lastname"></label>
                                <input id="lastname" type="text" name="lastname" placeholder="brown">
                            </div>
                        </div>
                        <div class="field">Email
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <label for="email"></label>
                                <input id="email" type="text" name="email" placeholder="raph.albert@gmail.com">
                            </div>
                        </div>
                        <div class="field">Password
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <label for="password"></label>
                                <input id="password" type="text" name="password" placeholder="Pass">
                            </div>
                        </div>
                    </div>
                    <button class="ui fluid large blue submit button">Create Account</button>
                </form>
                <div class="ui message">
                    Already have an account ? <a href="/signin/pilot">Sign In</a>
                </div>
            </div>
        </div>
        {{#if error_msg}}
        <div class="ui middle aligned center aligned grid error-msg">
            {{error_msg}}
        </div>
        {{/if}}
    </section>
</div>






{{!-- <section class="sign form-container">
  <header class="form-header">
    <h1 class="form-title">Start your Flight journey</h1>
    <p class="form-subtitle">Enjoy yourself and be comfortable </p>
  </header>
  {{#if msg}}
  <p class="message {{msg.status}}">{{msg.text}}</p>
  {{/if}}
  <form method="post" action="/signup/pilot" id="form_pilot">
    <div class="form-item-wrapper flexed-item">
      <label for="firstname" class="label-ref label">Name</label>
      <input id="firstname" type="text" class="input-text input" placeholder="Albert" name="name" required value="yo">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="lastname" class="label-ref label">Last Name</label>
      <input id="lastname" type="text" class="input-text input" placeholder="Biceps" required name="lastname"
        value="gui">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="email" class="label-ref label">Email</label>
      <input id="email" type="email" class="input-text input" placeholder="albert.biceps@gmail.com" name="email"
        required value="yo@gui.com">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="password" class="label-ref label">Password</label>
      <input id="password" type="password" class="input-text input" placeholder="••••••" name="password" required
        value="1234">
    </div>
    <button class="button-primary white">Create Account</button>
  </form>
  <p class="form-sub-infos">Already have an account ? <a href="/signin/pilot" class="button-link-form">Sign In</a></p>
</section> --}}

