<div id="main-div-signin-pilot">
  <section id="section-signin-pilot">

    <h1 class="ui middle aligned center aligned grid">Welcome dear Pilote</h1>
    <p class="ui middle aligned center aligned grid">Enjoy yourself and be comfortable before your next fly!</p>

    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <h2 class="ui blue image header">
          <div class="content">
            Sign-in to your account
          </div>
        </h2>
        {{#if msg}}
        <p class="message {{msg.status}}">{{msg.text}}</p>
        {{/if}}
        <form method="POST" action="/signin/pilot" class="ui large form">
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <label for="email"></label>
                <input id="email" type="text" name="email" placeholder="e-mail address">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <label for="password"></label>
                <input id="password" type="password" name="password" placeholder="********">
              </div>
            </div>
            <button class="ui fluid large blue submit button">Login</button>
          </div>

        </form>

        <div class="ui message">
          New to us? join us here! <a href="/signup/pilot">Sign Up</a>
        </div>
      </div>
    </div>
    {{#if error_msg}}
    <div class="ui middle aligned center aligned grid error-msg">
      {{error_msg}}
    </div>
    {{/if}}
  </section>
</div>

{{!-- ANCIENNE VERSION --}}

{{!-- <section id="section-signup-pilot">
  <header class="form-header">
    <h1 class="form-title">Start your Flight journey</h1>
    <p class="form-subtitle">Enjoy yourself and be comfortable </p>
  </header>
  {{#if msg}}
  <p class="message {{msg.status}}">{{msg.text}}</p>
  {{/if}}
  <form method="post" action="/signin/pilot" method="post" id="form_pilot">
    
    <div class="form-item-wrapper flexed-item">
      <label for="email" class="label-ref label">Email</label>
      <input id="email" type="email" class="input-text input" placeholder="albert.biceps@gmail.com" name="email"
        required value="yo@gui.com">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="password" class="label-ref label">Password</label>
      <input id="password" type="password" class="input-text input" placeholder="••••••" name="password" required
        value="1234">
    </div>
    <button class="button-primary white">Sign in</button>
  </form>
 </section> --}}